@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #70d6ff;
  --pink: #ff70a6;
  --orange: #ff9770;
  --mustard: #ffd670;
  --yellow: #e9ff70;
}

html {
  min-width: 1100px;
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.black-shadow {
  box-shadow: 5px 5px black;
}
